{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}Palettes{% endblock %}
{% block body_block %}
    {% if palette_list %}
        <div class="row">
            {% for palette in palette_list %}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image {{ palette.colours.first|lower }}">
                            {% for n in "012345" %}
                                <br>
                            {% endfor %}
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4">{{ palette }}</span>
                            <p><a href="{{ palette.get_absolute_url }}">View</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="{% url 'colours:palette_list' %}?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><a href="{% url 'colours:palette_list' %}?page={{ page_obj.number }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for i in "x"|ljust:page_obj.paginator.num_pages %}
                    {% if forloop.counter == page_obj.number %}
                        <li class="active grey"><a href="{% url 'colours:palette_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="{% url 'colours:palette_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="waves-effect"><a href="{% url 'colours:palette_list' %}?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled"><a href="{% url 'colours:palette_list' %}?page={{ page_obj.number }}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <div>
            <h3 class="grey-text center">No palettes available.</h3>
        </div>
    {% endif %}
{% endblock %}