{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}{{ palette }}{% endblock %}
{% block body_block %}
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image {{ palette.colours.first|lower }}">
                {% for n in "01234567890" %}
                    <br>
                {% endfor %}
                <a class="btn-floating halfway-fab waves-effect waves-light grey"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <span class="card-title">{{ palette }}</span>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for colour in palette.colours.all %}
        <div class="col s12 m3">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light {{ colour|lower }}">
                    {% for n in "012345" %}
                        <br>
                    {% endfor %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ colour }}<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Edit</a></p>
                </div>
                <div class="card-action">
                    <a href="#">Delete</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ colour }}<i class="material-icons right">close</i></span>
                    <p>{{ colour.additional_info }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}